<a href="https://colab.research.google.com/github/AlanCordeiro35/AlanCordeiro35/blob/master/Analise_de_Pre%C3%A7o_Gasolina_Brasil_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
#importar o pandas
import pandas as pd

#Salvar o endereço na variavel url
url = 'https://www.gov.br/anp/pt-br/centrais-de-conteudo/dados-abertos/arquivos/shpc/dsan/2021/2021-08-gasolina-etanol.csv/@@download/file/2021-08-gasolina-etanol.csv'

# ler a url e salvar os dados na variável df_original
df_original = pd.read_csv(url, sep = ';', decimal = ',')

In [28]:
#Verificando a quantidade de colunas
df_original.columns

Index(['Região - Sigla', 'Estado - Sigla', 'Município', 'Revenda',
       'CNPJ da Revenda', 'Nome da Rua', 'Número Rua', 'Complemento', 'Bairro',
       'Cep', 'Produto', 'Data da Coleta', 'Valor de Venda', 'Valor de Compra',
       'Unidade de Medida', 'Bandeira'],
      dtype='object')

In [3]:
#Pegando apenas as colunas necessarias
meu_df = df_original[['Estado - Sigla', 'Município','Produto','Valor de Venda','Bandeira','Data da Coleta']]
meu_df

      Estado - Sigla     Município  ... Bandeira  Data da Coleta
0                 BA        ILHEUS  ...   BRANCA      01/08/2021
1                 BA        ILHEUS  ...   BRANCA      01/08/2021
2                 BA        ILHEUS  ...   BRANCA      01/08/2021
3                 BA        ILHEUS  ...   BRANCA      01/08/2021
4                 BA        ILHEUS  ...   BRANCA      01/08/2021
...              ...           ...  ...      ...             ...
53980             RS  PORTO ALEGRE  ...   RAIZEN      31/08/2021
53981             RS  PORTO ALEGRE  ...   RAIZEN      31/08/2021
53982             ES       ARACRUZ  ...   BRANCA      31/08/2021
53983             ES       ARACRUZ  ...   BRANCA      31/08/2021
53984             ES       ARACRUZ  ...   BRANCA      31/08/2021

[53985 rows x 6 columns]

In [4]:
#Visualizar apenas os 5 primeiros registros
meu_df.head()

  Estado - Sigla Município  ... Bandeira  Data da Coleta
0             BA    ILHEUS  ...   BRANCA      01/08/2021
1             BA    ILHEUS  ...   BRANCA      01/08/2021
2             BA    ILHEUS  ...   BRANCA      01/08/2021
3             BA    ILHEUS  ...   BRANCA      01/08/2021
4             BA    ILHEUS  ...   BRANCA      01/08/2021

[5 rows x 6 columns]

In [5]:
#Verificando informações e tipo dos dados
meu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53985 entries, 0 to 53984
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Estado - Sigla  53985 non-null  object
 1   Município       53985 non-null  object
 2   Produto         53985 non-null  object
 3   Valor de Venda  53985 non-null  float64
 4   Bandeira        53985 non-null  object
 5   Data da Coleta  53985 non-null  object
dtypes: float64(1), object(5)
memory usage: 2.5+ MB

In [6]:
#Para converter os valores da ‘Data da Coleta’ para datetime, vamos usar o pd.to_datetime(), passando para o parâmetro dayfirst True:
meu_df['Data da Coleta'] = pd.to_datetime(meu_df['Data da Coleta'], dayfirst=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
#Query para selecionar municipios igual SP e exibir somente os 5 primeiros registros
meu_df.query('Município == "SAO PAULO"').head()

     Estado - Sigla  Município  ... Bandeira  Data da Coleta
2764             SP  SAO PAULO  ...   ALESAT      2021-08-02
2765             SP  SAO PAULO  ...   ALESAT      2021-08-02
2766             SP  SAO PAULO  ...   ALESAT      2021-08-02
4950             SP  SAO PAULO  ...   BRANCA      2021-08-03
4951             SP  SAO PAULO  ...   BRANCA      2021-08-03

[5 rows x 6 columns]

In [8]:
meu_df.query('`Valor de Venda` == 5.199').head()

    Estado - Sigla   Município  ...                      Bandeira  Data da Coleta
29              ES       SERRA  ...                        ALESAT      2021-08-01
53              ES     VITORIA  ...  PETROBRAS DISTRIBUIDORA S.A.      2021-08-01
62              ES     VITORIA  ...                        RAIZEN      2021-08-01
80              ES     VITORIA  ...  PETROBRAS DISTRIBUIDORA S.A.      2021-08-01
133             PA  ABAETETUBA  ...                        BRANCA      2021-08-01

[5 rows x 6 columns]

In [9]:
meu_df.query('`Data da Coleta` == "2021-07-05"').head()

Empty DataFrame
Columns: [Estado - Sigla, Município, Produto, Valor de Venda, Bandeira, Data da Coleta]
Index: []

In [10]:

meu_df.query('Bandeira == "IPIRANGA" and Município == "SAO PAULO"')['Valor de Venda'].max()

6.649

In [11]:
meu_df.query('`Valor de Venda` == 5.199').head()

    Estado - Sigla   Município  ...                      Bandeira  Data da Coleta
29              ES       SERRA  ...                        ALESAT      2021-08-01
53              ES     VITORIA  ...  PETROBRAS DISTRIBUIDORA S.A.      2021-08-01
62              ES     VITORIA  ...                        RAIZEN      2021-08-01
80              ES     VITORIA  ...  PETROBRAS DISTRIBUIDORA S.A.      2021-08-01
133             PA  ABAETETUBA  ...                        BRANCA      2021-08-01

[5 rows x 6 columns]

In [12]:
meu_df.query('`Data da Coleta`.dt.day == 20').head()

      Estado - Sigla Município  ...                      Bandeira  Data da Coleta
34829             PR   MARINGA  ...                        BRANCA      2021-08-20
34830             PR   MARINGA  ...                        BRANCA      2021-08-20
34831             PR   MARINGA  ...                        BRANCA      2021-08-20
34832             PR   MARINGA  ...  PETROBRAS DISTRIBUIDORA S.A.      2021-08-20
34833             PR   MARINGA  ...  PETROBRAS DISTRIBUIDORA S.A.      2021-08-20

[5 rows x 6 columns]

In [13]:
#Diferente de !=
#Irá devolver todas as linhas do DataFrame exceto as que contêm o valor passado na coluna consultada:

meu_df.query('`Estado - Sigla` != "CE"').head()

  Estado - Sigla Município  ... Bandeira  Data da Coleta
0             BA    ILHEUS  ...   BRANCA      2021-08-01
1             BA    ILHEUS  ...   BRANCA      2021-08-01
2             BA    ILHEUS  ...   BRANCA      2021-08-01
3             BA    ILHEUS  ...   BRANCA      2021-08-01
4             BA    ILHEUS  ...   BRANCA      2021-08-01

[5 rows x 6 columns]

In [14]:
meu_df.query('`Valor de Venda` > 7.09').head()

      Estado - Sigla Município  ...                      Bandeira  Data da Coleta
7877              RS      BAGE  ...  PETROBRAS DISTRIBUIDORA S.A.      2021-08-04
7880              RS      BAGE  ...                      IPIRANGA      2021-08-04
10012             RS      BAGE  ...                        BRANCA      2021-08-04
10019             RS      BAGE  ...  PETROBRAS DISTRIBUIDORA S.A.      2021-08-04
10024             RS      BAGE  ...                      IPIRANGA      2021-08-04

[5 rows x 6 columns]

In [15]:
meu_df.query('`Estado - Sigla` == "RJ" and Bandeira == "IPIRANGA" and `Valor de Venda` < 4.800')

Empty DataFrame
Columns: [Estado - Sigla, Município, Produto, Valor de Venda, Bandeira, Data da Coleta]
Index: []

In [16]:
meu_df.query('`Estado - Sigla` == "SP" & Produto == "GASOLINA" & `Valor de Venda` > 6.0').head()

     Estado - Sigla  Município  ...                      Bandeira  Data da Coleta
3121             SP       LINS  ...                      IPIRANGA      2021-08-02
6878             SP    TAUBATE  ...  PETROBRAS DISTRIBUIDORA S.A.      2021-08-03
8059             SP   ITANHAEM  ...                      IPIRANGA      2021-08-04
8062             SP   ITANHAEM  ...                      IPIRANGA      2021-08-04
8205             SP  SAO PAULO  ...                      IPIRANGA      2021-08-04

[5 rows x 6 columns]

In [17]:
meu_df.query('`Valor de Venda` == 7.069 | `Data da Coleta` == "2021-07-21"').head()

      Estado - Sigla Município  ...  Bandeira  Data da Coleta
31227             RS      BAGE  ...  IPIRANGA      2021-08-18
31228             RS      BAGE  ...  IPIRANGA      2021-08-18

[2 rows x 6 columns]

In [18]:
meu_df.query('`Valor de Venda` > 5.0 and Município in ["SAO PAULO", "CURITIBA"]').head()

     Estado - Sigla  Município  ...                      Bandeira  Data da Coleta
2764             SP  SAO PAULO  ...                        ALESAT      2021-08-02
2766             SP  SAO PAULO  ...                        ALESAT      2021-08-02
4951             SP  SAO PAULO  ...                        BRANCA      2021-08-03
4952             SP  SAO PAULO  ...  PETROBRAS DISTRIBUIDORA S.A.      2021-08-03
4954             SP  SAO PAULO  ...  PETROBRAS DISTRIBUIDORA S.A.      2021-08-03

[5 rows x 6 columns]

In [19]:
#criando uma list (cidades)
cidades = ['SAO PAULO', 'CURITIBA', 'RIO DE JANEIRO']
#Utilizando a lista para verificar as condições
meu_df.query('`Valor de Venda` > 6.0 and Município in @cidades').head()

     Estado - Sigla       Município  ...  Bandeira  Data da Coleta
1280             RJ  RIO DE JANEIRO  ...    RAIZEN      2021-08-02
1282             RJ  RIO DE JANEIRO  ...    RAIZEN      2021-08-02
1283             RJ  RIO DE JANEIRO  ...    BRANCA      2021-08-02
1285             RJ  RIO DE JANEIRO  ...    BRANCA      2021-08-02
1286             RJ  RIO DE JANEIRO  ...  IPIRANGA      2021-08-02

[5 rows x 6 columns]

In [20]:
cidades = ['SAO PAULO', 'CURITIBA', 'RIO DE JANEIRO']
meu_df.query('`Valor de Venda` > 6.0 and Município not in @cidades').head()

  Estado - Sigla Município  ... Bandeira  Data da Coleta
0             BA    ILHEUS  ...   BRANCA      2021-08-01
2             BA    ILHEUS  ...   BRANCA      2021-08-01
3             BA    ILHEUS  ...   BRANCA      2021-08-01
5             BA    ILHEUS  ...   BRANCA      2021-08-01
6             BA    ILHEUS  ...   BRANCA      2021-08-01

[5 rows x 6 columns]

In [21]:
meu_df.query('Produto == "GASOLINA"')['Valor de Venda'].max()

7.218999999999999

In [22]:
meu_df.query('Produto == "GASOLINA" & `Valor de Venda` == 7.218999999999999')

      Estado - Sigla Município  ...  Bandeira  Data da Coleta
45477             RS      BAGE  ...  IPIRANGA      2021-08-26
46042             RS      BAGE  ...  IPIRANGA      2021-08-26

[2 rows x 6 columns]

In [23]:
#Valor Maximo da Gasolina
meu_df.query('`Estado - Sigla` == "RJ" & Produto == "GASOLINA"')['Valor de Venda'].max()

7.059

In [24]:
#Media de Preço da Gasolina
meu_df.query('`Estado - Sigla` == "RJ" & Produto == "GASOLINA"')['Valor de Venda'].mean()

6.493716417910447

In [26]:
#Valor Maximo do preço da Gasolina
meu_df.query('`Estado - Sigla` == "RJ" & `Valor de Venda` == 7.059')

      Estado - Sigla    Município  ...  Bandeira  Data da Coleta
34105             RJ  BARRA MANSA  ...  IPIRANGA      2021-08-19
45897             RJ  BARRA MANSA  ...  IPIRANGA      2021-08-26

[2 rows x 6 columns]